.topheader{
    z-index: 99999;
    position: fixed;
    width: 100%;
    background-color: whitesmoke;
    height: 140px;
}
body{
    color: #696969;
}
@font-face{
    font-family: 'bignoodletitling';
    src: url('font/bignoodletitling_oblique.ttf');
    font-weight: normal;
    font-style: normal;
}
.logo{
    display: block;
    position: absolute;
    bottom: auto;   
}
.logo>a>img{
    margin-top: -10px;
    padding-right: 10px;
    height: 100px;
}
.logo>a{
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 70%;
    color: #696969;
}
.banner{
    background: url(img/slider.jpg) #696969;
    background-blend-mode: multiply, normal;
    font-family: 'bignoodletitling';
    display: flex;
    color: #d6d5d5;
    align-items: center;
    min-height: 650px;
    width: 100%;
    background-size: cover;
    text-align: center;
}
.banner h2{
    font-size: 3rem;
}
.banner p{
    font-size: 2rem;
}
.scrolldown{
    position: absolute;
    left: 50%;
    margin-top: 15%;
    align-content: center;
    align-items: center;
}
.scrolldown img{
    margin-bottom: 20px;
}
.scrolldown p{
    color:antiquewhite;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;
}
.main-content {
    align-content: center;
    align-items: center;
}

h3 {
    font-size: 38px;
    text-transform: uppercase;
}
